1tach.web/View/Service References/CheckBill/wstrackandtrace.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LoadTrackAndTrace">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mabpbk" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mabangke" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadTrackAndTraceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadTrackAndTraceResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoadTrackAndTraceSoapIn">
    <wsdl:part name="parameters" element="tns:LoadTrackAndTrace" />
  </wsdl:message>
  <wsdl:message name="LoadTrackAndTraceSoapOut">
    <wsdl:part name="parameters" element="tns:LoadTrackAndTraceResponse" />
  </wsdl:message>
  <wsdl:portType name="WsTrackAndTraceSoap">
    <wsdl:operation name="LoadTrackAndTrace">
      <wsdl:input message="tns:LoadTrackAndTraceSoapIn" />
      <wsdl:output message="tns:LoadTrackAndTraceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsTrackAndTraceSoap" type="tns:WsTrackAndTraceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadTrackAndTrace">
      <soap:operation soapAction="http://tempuri.org/LoadTrackAndTrace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsTrackAndTraceSoap12" type="tns:WsTrackAndTraceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadTrackAndTrace">
      <soap12:operation soapAction="http://tempuri.org/LoadTrackAndTrace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsTrackAndTrace">
    <wsdl:port name="WsTrackAndTraceSoap" binding="tns:WsTrackAndTraceSoap">
      <soap:address location="http://test.netserver.vn/ws/wstrackandtrace.asmx" />
    </wsdl:port>
    <wsdl:port name="WsTrackAndTraceSoap12" binding="tns:WsTrackAndTraceSoap12">
      <soap12:address location="http://test.netserver.vn/ws/wstrackandtrace.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>